# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
*.layout
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# sdk/app/post_build/**
# !sdk/app/post_build/**/*.c
sdk/app/post_build/**/*.bin
sdk/app/post_build/**/*.fw
sdk/app/post_build/**/*.ld
sdk/app/post_build/**/*.txt
sdk/app/post_build/**/*.bc
sdk/app/post_build/**/*.ufw
sdk/app/post_build/**/*.lst

